{
  "plugins": [
    "transform-class-properties",
    [
      "module-resolver",
      {
        "alias": {
          "components": "./assets/js/components",
          "util": "./assets/js/util"
        },
        "root": ["./"]
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
