root = true

# For all files:
# - UTF-8
# - Unix newlines
# - Insert new line at the end
# - trim whitespace at end of lines
# - Use 2 spaces for indentation
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# For PHP files only:
# - Use tabs (following WordPress conventions) for indentation
# - Show tab width as 2 spaces (inherit from indent_size)
[*.php]
indent_style = tab
