.apple-news-json label {
	margin-top: 25px;
	font-weight: bold;
	display: block;
}

.apple-news-json .theme-value-wrapper {
	margin-top: 15px;
}

.apple-news-json .theme-value-row span {
	font-weight: bold;
}

.apple-news-json .theme-value-row.top {
	margin-bottom: 3px;
}

.apple-news-json input[type="submit"] {
	margin-right: 1em;
}